
.titulo-resultado-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    gap: 1rem;
}

.icono-resultado1{
    font-size: 4rem;
}

.icono-resultado2{
    font-size: 4rem;
}

.partida-finalizada{
    text-align: center;
    font-size: 1.5rem;
}


.ganador-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20rem;
    margin: 1rem;
}

.ganador1-container{
    width: 50%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid blueviolet;
}

.icono-ganador{
    font-size: 2rem;
    color: yellow;
}

.ganador2-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid blueviolet;

}

.icono-perdedor{
    font-size: 2rem;
    color: ghostwhite;
}

.titulo-resumen{
    text-align: center;
    padding-top: 4rem;
}

.resumen-container{
    height: 15rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border: 1px solid #f00;

}

.resumen{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;

}

.puntos-container{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    height: 20rem;
    text-align: center;
    border: 1px solid blueviolet;
}


.boton-resultado-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

